/node_modules

/public/storage/clockwork
/public/storage/debugbar
/public/storage/framework
/public/storage/logs


/_Docker/databases

/storage/clockwork
/storage/debugbar
# /storage/framework
/storage/logs

composer.lock
package-lock.json

/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env_DOCKER
.env__LoCALHOST
/docker

PaypalDescripttion.txt
