// Body
// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$text-color: #636b6f;
$font_size: 18px;
//$font_size: 24px;

$background_color: #f5f8fa;
$border_color: #999;

$border-separator-color: 0.05rem solid #b3b3b3;
$item-border: 1px solid #92baa7;


$button_color: #FFFFFF;             /* color of button */


$cancel_background_color: #949494;  /* background color of cancel button */
$prev_background_color: #45A6F9;    /* background color of previos button */
$text_error_color: red;
$link_color: #475fe8;//maroon;
$toggle_color: olive;

$indent_xs_1: 0.1em;
$indent_xs_2: 0.2em;
$indent_xs: 0.3em;

$indent_sm: 0.5em;
$indent_md: 1em;
$indent_lg: 2em;
$text_color : #00001D;
$indent_img : 0.7em; /* $indent for image : margin, padding */

$current_admin_template: 'defaultBS41Backend';