// Fonts
@import "node_modules/font-awesome/scss/font-awesome";
//
//$subtitle_font_name= 'Simple Line Icons'; // '', '
//themify





@import "node_modules/font-awesome/scss/font-awesome";

@font-face {
  font-family:'Simple line icons';
  src:url('/fonts/simple-line-icons/Simple-Line-Icons.ttf');
  font-style:normal;
}


@font-face {
  font-family:'Themify';
  src:url('/fonts/themify/themify.ttf');
  font-style:normal;
}

@font-face {
  font-family:'Source sans';
  src:url('/fonts/source-sans/sourcesanspro-regular-webfont.ttf');
  font-style:normal
}


@font-face {
  font-family:'Open sans' ;
  src:url('/fonts/opensans/opensans.ttf');
  font-style:normal;
}


@font-face {
  font-family:'DejaVu Sans';
  src:url('/fonts/DejaVuSans/DejaVuSans-Bold.ttf');
  font-style:normal;
}
/* FONTS DEBUGGING END */







@font-face {
  font-family:'Roboto';
  src:url('/fonts/roboto/Roboto_regular.ttf');
  font-style:normal
}

// Variables
@import "../variables";



// Bootstrap
@import '~bootstrap/scss/bootstrap';

wrapper {
  min-height:100vh;
  //border: 2px dotted green;
}

.app-wrapper {
  padding-left: 5px !important;
  padding-right: 5px !important;
}


body{
  font-family: 'Roboto', 'Open Sans';
  font-size: $font_size;
  background-color: $background_color !important;

  //color: yellow;
}
h1, h2, h3, h4, h5, h6, span, div, p {
  font-family: 'Roboto', 'Open Sans';
  //color: red;
}
section{
  float:left;
  width:100%;
  background: $background_color;  /* fallback for old browsers */
  padding:30px 0;
}


.container {
  //max-width: 1010px !important;
  margin-right: auto;
  margin-left: auto;
  padding: 0 !important;
}

input, select, textarea {
  font-size: $font_size;
}

.form-control:disabled, .form-control[readonly] {
  font-size: $font_size !important;
}

.navbar-laravel {
  background-color: #fff;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.img-preview-wrapper {
  background-color: yellow;
  text-align: center !important;
}

div.dataTables_wrapper div.dataTables_processing {
  top: 50px;
}
.dataTables_wrapper .dataTables_processing {
  margin-top: -100px !important;
  padding: 50px !important;
  background: #2D3246 !important;
  color:    $button_color !important;
  border-radius: 5px !important;
  font-size: xx-large !important;
  opacity : 1 !important;
  line-height: 1.5em;
  text-decoration: none;
}
.dataTable {
  thead {
    background: #E9EBED !important;
  }
}

.select2-results__option[aria-selected=true] { display: none;}

.details-control{
  //border: 2px navy solid;
  //background-color: blue;
}

.row_inactive_status {
  color: #5d5d5d;
}

.row_new_status {
  td {
    color: #e10000 !important;
  }
}

/* NAVBAR BLOCK START  https://bootsnipp.com/snippets/yN681  */
.navbar{
  background: #d9e8f7 !important;
  .navbar-nav>li>a {
    height: 40px;
    line-height: 40px;
    padding: 0 5px 0 10px;
  }
}

.navbar .nav-item .nav-link{
  //color:#0b0b0b !important;

}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
  //color:red !important;
}


.dropdown{
  border:0;
}
.dropdown-menu{
  background: #d9e8f7;
  //border:0;
  top:80%;
  border-radius:0px 0px 5px 5px;
  a{
    color:#0b0b0b;
    font-size: $font_size;
  }
}

.dropdown-toggle-active{
  background:#9cccfe;
  color:#0b0b0b;
}

.dropdown-toggle{
  //background:#9cccfe;
  color:#0b0b0b;
  :hover{
    color:#0b0b0b;
  }
  ::after {
    display: none;
  }
}

//.dropdown-toggle:hover{
//  color:#0b0b0b;
//}
//.dropdown-toggle::after {
//  display: none;
//}
.dropdown-item{
  //background:#9cccfe;
  font-size: $font_size;
  color:#0b0b0b;
  :hover{
    //background:#9cccfe;
    font-size: $font_size;
    color:#0b0b0b;
  }
}
//.dropdown-item:hover{
//  //background:#9cccfe;
//  font-size: $font_size;
//  color:#0b0b0b;
//}

.nav-link{
  .active {
    color: $text-color !important;
    font-weight: bold;
    background-color: $background_color !important;
    //border-bottom: 2px solid grey !important;
  }
}


.nav-pills {
  color: red;
  border-bottom: 1px dotted grey !important;
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #c2c2c2;
}
.app_title_icon_transparent_on_white {
  color: white ;
  background-color: transparent;
  //background-color: #D9E8F7;
  margin-right: 5px;
}

.app_title_icon_selected_dashboard {
  color: transparent;
  background-color: white;
  //background-color: red;
  margin-right: 5px;
}

.app_title_icon_warning {
  color: red;
  background-color: yellow ;
  margin-right: 5px;
}

.app_title_icon {
  color: $text-color;
  background-color: transparent;
  margin-right: 5px;
}
/* NAVBAR BLOCK END */



fieldset {
  border: 1px groove #ddd !important;
  font-size: small !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  width: 100%;
}


legend {
  font-size: medium !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 10px 10px;
  border-bottom: none;
}

.ul_multiline {
  padding: $indent_xs_2 $indent_sm $indent_sm $indent_sm;
  a {
    cursor: pointer;
  }
  li {
    list-style: none;
  }
}

/* STYLING TAGS START */
.styling_checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.styling_checkbox + label {
  cursor: pointer;
}

.input-group-text {
  background-color: transparent !important;
  border: none;
}

.styling_checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.styling_checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}

.styling_checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  //background: #CDD1DA;
  background: #DADADA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.styling_checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.styling_checkbox:checked + label:before {
  //background: #9FD468;
  background: #3C3C3C;
  box-shadow: 0 0 0 3px rgba(60,60,60,.5);
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.styling_checkbox:checked + label:after {
  box-shadow: 0 0 0 3px rgba(60,60,60,.5);
  left: 26px;
}
/* Показываем получение фокуса. */
.styling_checkbox:focus + label:before {
  //box-shadow: 0 0 0 3px rgba(255,255,0,.5);
  //box-shadow: 0 0 0 3px rgba(0,0,255,.5);
  //box-shadow: 0 0 0 3px rgba(128,128,128,.5);
  box-shadow: 0 0 0 3px rgba(205,209,218,.5);
}





.styling_radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.styling_radio + label {
  cursor: pointer;
}
.styling_radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.styling_radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.styling_radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  //border: 1px solid #CDD1DA;
  border: 1px solid #DADADA;
  border-radius: 50%;
  background: #FFF;
}
.styling_radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.styling_radio:checked + label:after {
  opacity: 1;
}

.styling_radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}


/* STYLING TAGS END */


/* TODO BLOCK START based on https://bootsnipp.com/snippets/ykXa */
.all-emails-copy-entry:not(:first-of-type)
{
  margin-top: 10px;
}
.cron-tasks-receivers-entry:not(:first-of-type)
{
  margin-top: 10px;
}

.entry:not(:first-of-type)
{
  margin-top: 10px;
}

#todo_fields {
  width: 100% !important;
}
#all_emails_copy_fields {
  width: 100% !important;
}
#cron_tasks_receivers_fields {
  width: 100% !important;
}
.controls {
  padding: 10px;
}
/* TODO BLOCK END */


/* FOOTER BLOCK START */

.context-dark, .bg-gray-dark, .bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
  color: #0b0b0b;
}
.nav-list {
  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
  }

  li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    //color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
  }
}

//.nav-list li a:before {
//  content: "\f14f";
//  font: 400 21px/1 "Material Design Icons";
//  //color: #4d6de6;
//  display: inline-block;
//  vertical-align: baseline;
//  margin-left: -28px;
//  margin-right: 7px;
//  opacity: 0;
//  visibility: hidden;
//  transition: .22s ease;
//}

//.nav-list li a:hover:before {
//  margin-left: 0;
//  opacity: 1;
//  visibility: visible;
//}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: #2D3246 !important;
}

footer {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}
.menu-items-container {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 !important;
  margin: 0 !important;
  background-color: #2D3246 !important;
}


/* FOOTER BLOCK END  */

/* CARDS BLOCK START */
.card {
  background-color: $background_color;
  font-family: 'Roboto', 'Open Sans';
}
.card-title {
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: #0097e2;
  background-color: $background_color;
  font-family: 'Roboto', 'Open Sans';

}
.card-subtitle {
  font-size: medium;
  font-weight: 800;
  //background-color: maroon;
  font-family: 'Roboto', 'Open Sans';
}
.card-header {
  background-color: $background_color;
  //border: 1px dotted mediumaquamarine;
  font-family: 'Roboto', 'Open Sans';
}
/* CARDS BLOCK END */

/* SETTINGS BLOCK START */
//.mce-tinymce .mce-container .mce-panel {
//  border: 2px dotted yellow;
//  background-color: maroon;
//  margin-top: 30px;
//}
/* SETTINGS BLOCK END */

/* COMMON BLOCK START */
.grayed {
  background-color: #dddddd !important;
}
.lightly-grayed {
  background-color: #eeeeee !important;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

.validation_error {
  border: 1px solid red;
}

.error-help-block {
  color:red;
}


.a_link {
  cursor: pointer;
  color: $link_color !important;
}

.toggle_link {
  cursor: row-resize;
  color: $toggle_color !important;
}

ul{
  list-style-type : none
}
ul.no_list_style{
  list-style-type : none
}
td.details-control {
  background: url(/images/details_open.png) no-repeat center center;
  cursor: pointer;
  width: 16px;
}

tr.shown td.details-control {
  background: url(/images/details_close.png) no-repeat center center;
}

.bootstrap-growl {
  border: 2px solid blue !important;
  border-radius: 6px;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  //border-top: 1px solid #dee2e6;
  color: $text-color;
  //font-weight: 700;
}

.todo_editable_field_foruserid {
  background-color: yellow !important;
  border: red !important;
}
//.chosen-container-multi {
//  color: #c2c200 !important;
//}
//.chosen_select_box .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
//  color: #c2c200 !important;
//  background-color: green;
//}

//.chosen-container-multi .chosen-choices li.search-field input[type="text"] {

.chosen-single {
  width: 100% !important;
  //color: #c2c200 !important;
  //background-color: green !important;
}

.chosen-container .chosen-container-single {
  width: 100% !important;
}
// .chosen-container-single .chosen-single-with-deselect input[type="text"] {
//  //margin-right: 38px;
//  //color: #c2c200 !important;
//  //background-color: green;
//}
::placeholder { /* Most modern browsers support this now. */
  //color: #c2c200 !important;
  //background-color: maroon;
}
.text-small {
  font-size: smaller;
}
/* COMMON BLOCK START */


/* REPORTS BLOCK START */
canvas {
  background-color : #eee;
}
/* REPORTS BLOCK END */


/* BUTTONS BLOCK START */

.btn-cancel-action {
  margin-left: 20px;
  color: #FFFFFF;
  background-color: #949494;
}

.editor_btn_group button {
  padding: 0.5em;
  margin: 2em 3em 0 1em;
  border-radius: 0.5em;
  //border: 0px solid maroon;
  /* DEBUGGING */
  font-size: medium;
}

.fa-submit-button {
  color:white !important;
}

.fa {
  color: #007bff;
}



/* BUTTONS BLOCK END */


/* MODAL DIALOGS BLOCK START */

.modal-dialog-full-width {
  max-width: 1200px;
  max-height: 780px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: $background_color;

  //background-color: yellow;
  //border: 2px solid red;
}

.modal-content-full-width {
  min-width: 1200px;
  min-height: 780px;
  border: 0px red;
  padding: 0.5em;
  margin: auto;
  margin-top: 30px;
  max-height: 680px;
}

.modal-body-full-width {
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  max-height: 780px;
  border: 0px solid green;
  background-color: $background_color;
}

.modal-content {
  background-color: $background_color;
}


.modal-header {
  background-color: $background_color;
}

.modal-body {
  background-color: $background_color;
}


.modal-footer {
  padding: 1em;
  margin-top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $background_color;
}

/* MODAL DIALOGS BLOCK END */


/* PAGINATION BLOCK START */
.page-item.active .page-link {
  z-index: 1;
  color: $link_color;
  font-weight: bold;
  background-color: $background_color !important;
  border-color: #007bff !important;
}
.page-link {
  background-color: $background_color !important;
}
/* PAGINATION BLOCK END */


#tinymce {
  //font-size: $font_size;
  //background-color: red;
}

.required {
  color: red !important;
}

.editable_field {
  color: $text_color;
  font-size: $font_size;
  border: 1px solid #aaa;
}

.td_right {
  text-align: right;
}

.td_center {
  text-align: center;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul_one_line {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    float: left;
    padding: $indent_sm;
  }
}

.ul_multiline {
  padding: $indent_sm $indent_sm $indent_sm $indent_sm;

  a {
    cursor: pointer;
  }

  li {
    list-style: none;
  }
}

input[type="file"] {
  margin: 0;
  padding: 5px 0px 25px 0 !important;
  //width: 0;
  height: 0;
  border: 130px;
  overflow: hidden;
  position: absolute;
}

.date_input, .date_input:focus {
  text-align: left;
  color: $text_color;
}


.integer_cell, .integer_cell:focus {
  text-align: right;
}

.float_cell, .float_cell:focus {
  text-align: right;
}

.icon_cell, .icon_cell:focus {
  text-align: center;
}

.datetime_cell, .center_cell, .datetime_cell:focus {
  text-align: center;
}






/* FULLCALENDAR BLOCK START */
//html, body {
//  margin: 0;
//  padding: 0;
//  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
//  font-size: 14px;
//}

#events_calendar {
  max-width: 1200px;
  margin: 40px auto;
  border: 0px dotted green !important;
}

.fc-day-grid-event .fc-content {
  white-space: normal;
}

.fc-event-time,
.fc-event-title {
  padding: 0 1px !important;
  float: left !important;
  clear: none !important;
  margin-right: 10px !important;
}

.fc-timeGridWeek-button {
  margin: 10px !important;
  padding: 10px !important;
}
.fc-dayGridMonth-button {
  margin: 10px !important;
  padding: 10px !important;
}

.fc-prev-button {
  margin: 10px !important;
  padding: 10px !important;
}
.fc-next-button {
  margin: 10px !important;
  padding: 10px !important;
}

/*
i wish this required CSS was better documented :(
https://github.com/FezVrasta/popper.js/issues/674
derived from this CSS on this page: https://popper.js.org/tooltip-examples.html
*/


.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #fff893;
  color: #333333;
  width: 220px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: left;
}
.style5 .tooltip {
  background: #1E252B;
  color: #FFFFFF;
  max-width: 220px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
  text-align: left;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #fff893;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.past-event {
  background-color: lightgrey !important;
}

.fc-today {
  background-color: #ffc2b3 !important;
}
/* FULLCALENDAR BLOCK END */
